body {
    background-color: #5c5463;
    font-size: 20px;
  }
  
#loginForm, .response{
    padding: 2%;
    margin: 2% 30% 2% 30%;
    text-align: center;
    background-color: #6e6479;
    border-radius: 10px;

}

.password, .username  {
    padding: 2%;
}

input{
    font-size: 25PX;
    border: none;
    background-color: #6e6479;
   border-bottom: solid;
}

.response{
    font-weight: bold;
}



.submitData {
    background-color: hsl(300, 100%, 25%);
    border:none;
    margin: 1%;
    padding: 2% 5% 2% 5%;
    border-radius: 10px 15px ;
    cursor: pointer;
    color:black;
    font-size:  25PX;
}


.submitData:hover{
    background-color: hsl(300, 100%, 35%);


}



.submitData:active {
    background-color: hsl(300, 100%, 45%);
}

.textForm{
    font-size:  20PX;
}


a{
    color: hsl(300, 100%, 25%);
    font-weight: bold;
    text-decoration: none;
}
